<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/P2_SchirmSchoner_16_17_Vorlage_B/src/SchirmSchonerApplikation.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="SchirmSchonerApplikation"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="P2_SchirmSchoner_16_17_Vorlage_B"/>
</launchConfiguration>
